PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/the-public-brief
JWT_SECRET=change-this-secret
CLIENT_URL=http://localhost:5173,http://127.0.0.1:5173,http://192.168.56.1:5173
ADMIN_EMAIL=admin@thepublicbrief.example
ADMIN_PASSWORD=change-this-admin-password
ADMIN_NAME=Editorial Admin
